* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #272525;
}
.imgLogo {
    width: 150px;
    height: 150px;
    background-color: #fafafa;
    border-radius: 100%;
    margin: 2px 0 1px 0;
}
h1 {
    color: #272525;
    font-size: 20px;
}

.divNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.enlace {
    font-size: 16px;
    color: #fafafa;
    justify-items: baseline;
    text-decoration: inherit;
    font-weight: bold;
    font-family: inherit;
    padding: 14px 16px;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #fafafa;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafafa;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #fafafa;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.carrito {
    border: 2px solid #fafafa;
    border-radius: 5px;
    margin: 2px;
}
.imgCart {
    border: 2px solid #272525;
    border-radius: 5px;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #fafafa;
}
.imgCart:hover {
    -webkit-filter: brightness(2.5);
    filter: brightness(2.5);
}